<div class='row'>
  <div class='col-sm-8' id='recipe_show'>
    <h1>{{recipe.title}}</h1>
    <p class='username'>
      publié: {{recipe.created_at | date:" dd/MM/yyyy 'à' HH:mm"}} par {{recipe.username.name}}
    </p>
    <div class='clearfix'>
      <div class='recipe_image_description'>
        <img src='/assets/Crepe_Sweet.jpg'>
        <div class='description'>
          <i class='fa fa-thumbs-up btn' ng_click='favorite()'></i>
          <span>{{countLikes.count}}</span>
          <br>
          {{recipe.content}}
        </div>
      </div>
    </div>
    <h2>Ingrédients</h2>
    <ul>
      <li ng_repeat='ingridient in ingridients'>
        {{ingridient.name}}
      </li>
    </ul>
  </div>
  <div class='col-sm-4' id='favorite_recipe' ng_show='signedIn()'>
    <h3>liste de favoris</h3>
    <div class='recipe spacer' ng_repeat='fr in favoriteRecipes'>
      <div class='recipe_image'>
        <img src='/assets/Crepe_Sweet.jpg'>
      </div>
      <div class='recipe_content'>
        <h2>
          {{fr.title}}
        </h2>
        <div class='data clearfix'>
          <p class='username'>
            publiée par {{user.name}}
          </p>
          <p class='buttons'>
            <span>
              <i class='fa fa-thumbs-up'>
                {{fr.countLikes.count}}
              </i>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
