.home-container{ ng_controller: 'homeCtrl', ng_init: 'getPage(1)'}
   
  #search
    %label{for: 'search-input'}
      %i{ class: 'fa fa-search'}
    %input{ id: 'search-input' , ng_model: 'searchRecipe', class: 'form-control  search-query',placeholder:'Search'}
    %a{ id: 'search-clear', class:'fa fa-times-circle', tabindex:'1' , ng_show:'searchRecipe' , ng_click:'searchRecipe = null'}
        
  #recipes
    %list-recipes

  %div{ class: 'willPaginate pull-right', data_params: 'willPaginateCollection', data_on_click: 'getPage',data_config: 'willPaginateConfig'}
     
     
