
.spacer{ng_show:'viewProfile'}
  %h2  {{userProfile.name}}
  %h3.spacer  {{userProfile.email}}
  .row.col-sm-12
    %a.btn.btn-info.pull-right{ng_click:'getRecipiesUser(userProfile.id)'}
      Voir Recettes

  #usersList.col-sm-4{ng_repeat:'u in userss',ng_show:'u.id!=userProfile.id'}
    .user.spacer
      .user_image
        %img{src: '/assets/user.png'}
      .user_content
        %h2  
          %a.btn{ng_click:'getUser(u.id)'}  {{u.name}}
.spacer{ng_show:'!viewProfile'}
  %button.btn-default.btn-block{ng_click:'viewProfile=true'} retour
  #favorite_recipe.col-sm-4{ng_repeat: 'fr in recipes'}
    .recipe.spacer
      .recipe_image
        %img{src: '/assets/Crepe_Sweet.jpg'}
      .recipe_content
        %h2  
          %a{ng_href: '#/recipe?id={{fr.id}}'} 
            {{fr.title}}
        .data.clearfix
          %p.buttons
            %span  
              {{fr.created_at | date:" dd/MM/yyyy"}} 



    
