
%div{ ng_repeat: 'r in recipes | filter:searchRecipe'}
  .recipe.row
    .recipe_image.col-sm-3
      %img{src: '/assets/Crepe_Sweet.jpg'}
    .recipe_content.col-sm-9
      .title
        %a{ ng_href: '#/recipe?id={{r.id}}'} {{r.title}} 
      %p  {{r.content}}
    .recipe_content.pull-right
      .username
        publié: {{r.created_at | date:" dd/MM/yyyy"}} par {{r.username.name}}
   