

%script{type:"text/javascript",charset:"utf-8",src:"edge_includes/edge.6.0.0.min.js"}
%script
  AdobeEdge.loadComposition('Untitled-1', 'EDGE-70268760', {scaleToFit: "none",centerStage: "none",minW: "0px",maxW: "undefined",width: "547px",height: "398px"}, {dom: [ ]}, {dom: [ ]})

#Stage.EDGE-70268760
