
#recipes {
	position: relative;
	margin-top: 5rem;
	.recipe {
		background: #F8F9FA;
		margin: 1rem auto;
		padding: 1rem 0;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.recipe_image {
			overflow: hidden;
			img {
				width: 140%;
				border-radius: .3rem .3rem 0 0;
			}
		}
		.recipe_content {
		    font-size: 1.5rem;
		    color: #969696;
			
			.title{
				font-size: 2.3rem;
			}
			a {
				text-decoration: none;
				color: #333233;
				&:hover {
					color: #50A7C7;
				}
			}
			p{
				overflow: hidden;
				height: 65px;
			}
		
		.username {
			color: #969696;
			font-size: 1rem;
			margin-right: 2rem;
		}
			
		}
	}
}
#search {
	position: relative;
	margin-top: 5rem;
    padding: 0;
    label{
    	position: absolute;
        left: .5rem;
        top: .5rem;
        zoom: 1.3;
        color:#b3b3b3;
    }
    #search-clear{
    	text-decoration: none;
        position: absolute;
        right: .5rem;
        top: .8rem;
        zoom: 1.3;
        color: #b3b3b3;
    }
    #search-clear:hover{
    	color: #ccc
    }
	.search-query {
		padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 1rem;
        margin-bottom: 0;

        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
    }
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
       
    }   
}
#usersList {
	padding-top: 2rem;
	h3 {
		font-size: 2rem;
		text-align: center
	}
	.user {
		background: #F8F9FA;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.user_image {
			height: 100px;
			overflow: hidden;
			width: 90%;
			img {
				width: 100%;
				text-align: center;
			}
		}
		.user_content {
			h2 {
				margin: 0;
				text-align: center;
				font-weight: 130;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 2rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: 1rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: 1rem;
					}
				}
			}
		}
	}
}
