
#recipe_show {
	
	padding-top: 2rem;
	.recipe_image_description {
		float: left;
		margin-right: 5%;
	}

	h1 {
		margin: 0;
		color: #333233;
	}
	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.3rem;
		line-height: 1.5;
		color: #969696;
	}
}

#favorite_recipe {
	padding-top: 2rem;
	h3 {
		font-size: 2rem;
		text-align: center
	}
	.recipe {
		background: #F8F9FA;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.recipe_image {
			height: 100px;
			overflow: hidden;
			img {
				width: 100%;
				border-radius: .3rem .3rem 0 0;
			}
		}
		.recipe_content {
			h2 {
				margin: 0;
				text-align: center;
				font-weight: 130;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 2rem;
				height: 65px;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: 1rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: 1rem;
					}
				}
			}
		}
	}
}

#addIngredient{
	background:#eee;
	padding-bottom:20px;
}
#ingredient{
	padding: 10px;
	background: #eee;
	margin-right:3px; 
	display: inline-block;
	margin:5px;
}



